/* styles.css sheet for Ongoing Matter Splash Page */
* {
  box-sizing: border-box;
}

body {
  background-color: #1D1513;
  margin: 0;
  overflow-x: hidden;
}

.parallax-container {
  /* height: 125vh; */
  height: 75vw;
  background-color: #cc0000;
  position: relative;
}

.parallax-container.two {
  background-color: #fff;
  height: auto;
}

/* ********** Images ************** */
.parallax-container img {
  position: absolute;
}

img.folded-paper {
  width: 63.82%;
  right: 6.67vw;
}

.date,
.tagline {
  color: #DDD9D5;
  font-style: normal;
  position: absolute;
  margin: 0;
  padding: 0;
}

.date {
  font-family: prestige-elite-std, monospace;
  font-weight: 400;
  font-size: 2vw;
  top: 23.47vw;
  left: 8.03vw;
  z-index: 2;
}

.tagline {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 600;
  font-size: 2vw;
  line-height: 2.125vw;
  top: 30.66vw;
  left: 22.67vw;
}

img.om-logo {
  width: 23.35%;
  top: 5.55vw;
  left: 8.03vw;
  z-index: 99;
}

/* ************ Xs *************** */
img.gold-x1 {
  width: 1.86%;
  top: 38.41vw;
  left: 1.91vw;
}

img.gold-x2 {
  width: 4.97%;
  top: 21.95vw;
  left: 22.67vw;
}

img.gold-x3 {
  width: 3.09%;
  top: 45.19vw;
  left: 34.76vw;
}

img.gold-x4 {
  width: 4.64%;
  top: 36.31vw;
  left: 44.83vw;
}

img.gold-x5 {
  width: 2.35%;
  top: 9.41vw;
  left: 46.22vw;
}

img.gold-x6 {
  width: 3.26%;
  top: 23.93vw;
  right: 38.05vw;
}

img.gold-x7 {
  width: 1.86%;
  top: 51vw;
  right: 28.8vw;
}

img.gold-x8 {
  width: 2.17%;
  top: 29.92vw;
  right: 19.8vw;
}

img.white-xs {
  width: 32.37%;
  top: -.86vw;
  /* right:6.7vw; */
  right: -1.67vw;
}

/* Section 2 */
.parallax-container.two {
  padding-top: 2.775vw;
}

.rule-line {
  height: .63vw;
  width: 7.19vw;
  background-color: #1D1513;
  margin-bottom: 2.81vw;
}

.information {
  display: flex;
  flex-direction: column;
  width: 83.20vw;
  margin: 0 auto;
}

#location,
#project-description,
#exhibiting-artists,
#creator-bios,
#call-to-action {
  margin-top: 9.84vw;
}

#project-description p:first-of-type {
  margin-bottom: 3.13vw;
}

#call-to-action p {
  margin-bottom: 3.13vw;
}

.information.last {
  padding-bottom: 9.84vw;
}

.information h2 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5625rem;
  margin-bottom: 4.61vw;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.information h4 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

p {
  margin: 0;
  font-size: 1rem;
  font-family: prestige-elite-std, monospace;
  font-weight: 400;
  font-style: normal;
}

p.sarah {
  margin-bottom: 4.61vw;
}

p.funding {
  font-size: .8rem;
  margin-top: 4.61vw;
}

.bold-all-caps,
.name {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.name {
  margin-bottom: 1.56vw;
}

#exhibiting-artists h4 {
  margin-top: 0;
}

a.name {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #1D1513;
  background-color: #F0A11350;
}

a.location,
#exhibiting-artists a {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

#exhibiting-artists a {
  display: inline-block;
}

a:hover {
  background-color: #edd775;
}

#location {
  order: 2;
}

#project-description {
  order: 1;
}

#creator-bios {
  order: 3;
}

#exhibiting-artists {
  order: 4;
}

/* ********** FOOTER SECTION ****************** */
footer {
  box-sizing: border-box;
  height: 18.59vw;
  width: 100vw;
  background-color: #1D1513;
  color: #DDD9D5;
  /* font-size: 1rem; */
  font-family: prestige-elite-std, monospace;
  font-weight: 400;
  font-style: normal;
}

footer .information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width:150px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: #EDD775;
  background-color: rgba(0,0,0,0);
  margin-bottom: 1.13vw;
}

footer a:hover {
  color:#1D1513;
}

footer .information {
  margin-top: 5.63vw;
  margin-bottom:5.63vw;
}

/********** Media Queries *************/
@media screen and (min-width:1000px) {
  .parallax-container {
    height: 60vw;
  }

  .information {
    flex-direction: row;
    justify-content: space-between;
  }

  .information.first {
    margin-top: 5.63vw;
    margin-bottom: 9.84vw;
  }

  #location,
  #project-description,
  #exhibiting-artists,
  #creator-bios {
    margin-top: 0;
  }

  .information.last {
    padding-bottom: 9.84vw;
  }

  p {
    font-size: 1.25rem;
  }

  p.funding {
    font-size: .8rem;
    width: 21.69vw;
    margin-top: 4.61vw;
  }

  .right-column {
    /* margin-left: 8.03vw; */
    width: 49.45vw;
  }

  .right-column.call-to-action {

  }

  .left-column {
    width: 26.25vw;
  }

  .bold-all-caps,
  .name {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .25px;
  }

  #location {
    order: 1;
  }

  #project-description {
    order: 2;
  }

  #creator-bios {
    order: 4;
  }

  #exhibiting-artists {
    order: 3;
  }
  #exhibiting-artists2 {
    order: 5;
  }
  #call-to-action {
    order:6;
  }
}

/* ********************************************** Treasure Trove of Information ********************* */
/* FONTS &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&****************(((((((((((((((((((((())))))))))))))))))))))
Neue Haas Unica W1G Regular
font-family: neue-haas-unica, sans-serif;
font-weight: 400;
font-style: normal;

Neue Haas Unica W1G Italic
font-family: neue-haas-unica, sans-serif;
font-weight: 400;
font-style: italic;

Neue Haas Unica W1G Bold
font-family: neue-haas-unica,sans-serif;
font-weight: 600;
font-style: normal;

Neue Haas Unica W1G Black
font-family: neue-haas-unica, sans-serif;
font-weight: 800;
font-style: normal;

Prestige Elite Std Regular
font-family: prestige-elite-std, monospace;
font-weight: 400;
font-style: normal;

Prestige Elite Std Bold
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
*/
/*
COLORS &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&****************(((((((((((((((((((((())))))))))))))))))))))

Headline Black
color:#1D1513;

Smoking Gun
color:#584C41;

Whisper Campaign
color:#DDD9D5;

Liberty Blue
color: #0F1334;

Patriot Blue
color:#185AD5;

Vigilant Blue
color:#478BB9;

Valor Red
color:#59000B;

Constance Red
color:#860915;

Mandate Red
color:#C62308;

Halcyon Yellow
color:#9E6B0C;

Republic Yellow
color:#F0A113;

Deference Yellow
color:#EDD775;

*/
