/* #draggable,
#love {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
} */

#draggable,
#love,
#zahar {
  width: 9.375em;
  height: 9.375em;
  padding: 0.5em;
  background-color: orange;
  text-align: center;
}

#love {
  background-color: green;
}

#zahar {
  background-color:red;
}

#draggable p,
#love p,
#zahar p {
  /* position: absolute; */
  top: 0;
  /* left: 0; */
  display: block;
  width: 100%;
  line-height: 9.375em;
  /* same height as image */
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

section {
  display: flex;
  width:100%;
  justify-content: space-around;
}
